{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "proseWrap": "always",
  "insertPragma": false,
  "requirePragma": false
}
