
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
PGADMIN_DEFAULT_EMAIL=admin@test.com
PGADMIN_DEFAULT_PASSWORD=admin

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nest_template?schema=public"